NODE_ENV=development
PORT=3003


MONGODB_URI=mongodb://localhost:27017/ai_tutor
MONGODB_URI_PROD=mongodb+srv://ereentrisnamoon21_db_user:bRu3LUJyBX6rXL5F@aitutor.pdpsyiv.mongodb.net/?appName=AITutor
JWT_SECRET=aiTutorSecret_2025!@#VeryStrongKey
JWT_EXPIRE=7d

GOOGLE_CLIENT_ID=1061485161468-uj6jfqrfrs8k3h0j0mj9r7v6ve7khim9.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3003/api/auth/google/callback

OPENAI_API_KEY=your_openai_api_key_here

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=Shafatashik0@gmail.com
EMAIL_PASSWORD=vusu qcvp ugwe zpjg

FRONTEND_URL=http://localhost:3003

AWS_ACCESS_KEY_ID=your_aws_access_key_here 
AWS_SECRET_ACCESS_KEY=your_aws_secret_key_here
AWS_REGION=us-east-1
S3_BUCKET_NAME=ai-tutor-uploads

RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=10000
AUTH_RATE_LIMIT_MAX=20000
